p.info
    a.dcl(href="https://gist.github.com/christianhaller/6930998166a5084288b8") PhantomJS 1.9.8: DOMContentLoaded
    a.psi(href="https://developers.google.com/speed/pagespeed/") Google PageSpeed