doctype html
html(lang="en")
    head
        title Smashing Magazine Pagespeed Monitoring
        meta(charset='utf-8')
        <!--[if IE]>link(rel='icon', href='favicon.ico')<![endif]-->
        link(rel='icon', href='assets/favicon.png')
        meta(name="viewport", content="width=device-width, initial-scale=1")
        style.
            !{css}

    body.publishers

        header.container
            block content
        script.
            !{js}
