extends base
block content
    h1 Default
        a(href='data.csv') CSV 📃
    div.screenshot
    div.ct-chart
    table.table.table-striped.table-hover
        thead
            tr
                th.series-a
                    span

                th
        tbody
            include row
    if !sites.length
        p No entries found.


