extends base
block content
    h1 Speed Monitoring for some publishers

    div.screenshot
    div.ct-chart
    table.table.table-striped.table-hover
        thead
            tr
                each label in labels
                    th=label
                th Zeit
        tbody
            include row

    include ../common/more

    if !sites.length
        p No entries found.

    include ../common/footer


