extends base
block content
    h1 Speed Monitoring

    div.screenshot
    div.ct-chart
    table.table.table-striped.table-hover
        thead
            tr
                th.series-a
                    i 💻
                    span http://www.smashingmagazine.com/
                th.series-b
                    i 📱
                    span http://www.smashingmagazine.com/
                th
        tbody
            include row
    include ../common/more

    if !sites.length
        p No entries found.

    include ../common/footer


